/* General */
---------------------------------*/ html {
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ping';
  /* background-color: #000; */
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(26, 26, 26) 90.2%
  );
  min-height: 100vh;
}
@font-face {
  font-family: "ping";
  src: url("../css/font/PingARLT-Bold.woff2");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ping";
  src: url("../css/font/PingARLT-Medium.woff2");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ping";
  src: url("../css/font/PingARLT-Regular.woff2");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
.up-section p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.span-title {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 18px;
  color: #fff;
}
.wrapper {
  background-image: url("../img/Asset\ 1.svg");
  background-repeat: repeat;
}

@media (max-width: 991px) {
  .wrapper .info {
    flex-wrap: wrap;
  }
}
.wrapper .logo {
  width: 300px !important;
  max-width: 100%;
}
.wrapper img {
  max-width: 50px;
}

.box {
  border: 1px solid #4d4b4b;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 15px 0;
  transition: all .3s ease-in-out;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all .3s ease-in-out;
}
.box span {
  margin-top: 10px;
  display: block;
  transition: all .3s ease-in-out;
}
.box:hover {
  border: 1px solid white;
}
.box:hover span {
  color: #010101;
}
.box:hover::before {
  width: 100%;
}
@media (min-width: 1025px) {
  .wrapper {
    height: 100vh;
  }
}
@media (max-width: 767px) {
  .box span {
    font-size: 14px;
  }
  body {
    background-size: cover;
  }

  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .wrapper .logo {
    width: 200px !important;
  }
  p {
    font-size: 16px;
  }
}
.info > .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.delay-200 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.delay-400 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.delay-600 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.delay-800 {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.delay-1000 {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.delay-1200 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.delay-1400 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.modal-content {
  background-color: rgba(
    0,
    0,
    0,
    0.738
  ); /* White background with 50% opacity */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for depth */
  border: 1px solid #ddd;
}
.modal {
  backdrop-filter: blur(5px); /* Blur effect for the glass look */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  border: 1px solid rgba(
      255,
      255,
      255,
      0.2
    ); /* Optional: Adds a subtle border */
}
.modal.fade .modal-dialog {
  transition: transform 150ms ease-out;
}
.button {
  border: 1px solid #4d4b4b;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 15px 0;
  transition: all .3s ease-in-out;
  text-align: center;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.button span {
  color: #fff;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all .3s ease-in-out;
}
.button span {
  display: block;
  transition: all .3s ease-in-out;
}
.button:hover {
  border: 1px solid white;
}
.button:hover span {
  color: #010101;
}
.button:hover::before {
  width: 100%;
}
